.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #d6e0ea;
  padding: 30px 80px;
  box-sizing: border-box;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.left {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.title {
  font-size: 30px;
  margin-left: 10px;
}

.search {
  flex: 0.5;
  margin: 0 20px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #aaa;
  background-color: #fff;
}

.profile-icon {
  font-size: 30px;
}