.interest-btn {
  background-color: #356dac;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  width: auto;
  height: auto;
  align-self: flex-end;
}

.interest-btn:hover {
  background: #2c5480;
}

.interest-btn:disabled {
  background: #9fb6d3;
  cursor: not-allowed;
}